.container{
    background-image: url(/public/images/mb.png);
    padding-top: 100px;

}
@media screen and (max-width:425px) {
    
    .navbar{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
 


  